[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
[packages]
pandas = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
Flask-Limiter = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
commonmark = "*"
deprecated = "*"
greenlet = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
limits = "*"
markupsafe = "*"
ordered-set = "*"
pygments = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
rich = "*"
six = "*"
typing-extensions = "*"
urllib3 = "*"
werkzeug = "*"
wrapt = "*"
flask-cors = "*"
cachetools = "*"
statsmodels = "*"
waitress = "*"
scipy = "*"
beautifulsoup4 = "*"
llama-index = "*"
nltk = "*"
pinecone-client = "*"
transformers = "*"
cdifflib = "*"
python-levenshtein = "*"


[dev-packages]

[requires]
python_version = "3.10"
